.QSTWEAKS-notifications {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.QSTWEAKS-notifications .message .message-content {
	width: 0px;
	text-overflow: ellipsis;
}
.QSTWEAKS-notifications .message .message-header {
	margin: 0px;
	padding: 0px 4px 2px 6px;
	spacing: 4px;
}
.QSTWEAKS-notifications .message-view {
	margin: 0px;
}
.QSTWEAKS-notifications .QSTWEAKS-has-scrollbar .message-view {
	padding: 0px 5px 0px 0px;
}
.QSTWEAKS-notifications .QSTWEAKS-header {
	margin-bottom: 6px;
}
.QSTWEAKS-notifications .QSTWEAKS-header .QSTWEAKS-header-label {
	font-weight: bold;
	font-size: 0.98em;
	margin-left: 4px;
}
.QSTWEAKS-notifications .QSTWEAKS-header .QSTWEAKS-clear-button {
	font-weight: bold;
	font-size: 0.98em;
	padding: 1px 4px;
	border-radius: 8px;
	margin-right: 4px;
}
.QSTWEAKS-notifications .QSTWEAKS-header .QSTWEAKS-clear-button:hover {
	background-color: rgba(127, 127, 127, 0.2);
}
.QSTWEAKS-notifications .QSTWEAKS-header .QSTWEAKS-clear-button .QSTWEAKS-icon {
	margin-right: 4px;
}
.QSTWEAKS-notifications.QSTWEAKS-use-native-controls .QSTWEAKS-header {
	margin-bottom: 8px;
}
.QSTWEAKS-notifications .QSTWEAKS-placeholder {
	font-weight: bold;
	margin: 10px 0px;
}
.QSTWEAKS-notifications .QSTWEAKS-placeholder .QSTWEAKS-icon {
	margin-bottom: 12px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls {
	margin-top: 5px;
	padding: 0px 4px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls .QSTWEAKS-native-dnd-switch {
	margin: 0px 0px 0px 6px;
	height: 24px;
	width: 40px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls .QSTWEAKS-native-dnd-switch .handle {
	margin: 2px;
	width: 20px;
	height: 20px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls .QSTWEAKS-native-dnd-text {
	font-size: 0.92em;
	margin-right: 4px;
	margin-bottom: 0px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls .QSTWEAKS-native-clear-button {
	font-size: 0.92em;
	padding: 4px 8px;
}
.QSTWEAKS-notifications .QSTWEAKS-native-controls .QSTWEAKS-native-control-box {
	padding: 8px 4px 0px 4px;
}

.QSTWEAKS-media {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.QSTWEAKS-media .message {
	margin: 0px;
}
.QSTWEAKS-media .message-content {
	width: 0px;
	text-overflow: ellipsis;
}
.QSTWEAKS-media .QSTWEAKS-header {
	margin-bottom: 6px;
}
.QSTWEAKS-media .QSTWEAKS-header .QSTWEAKS-header-label {
	font-weight: bold;
	font-size: 0.98em;
	margin-left: 4px;
}
.QSTWEAKS-media .QSTWEAKS-header .page-indicators {
	margin-right: 4px;
	spacing: 6px;
}
.QSTWEAKS-media .QSTWEAKS-header .page-indicators .page-indicator {
	height: 8px;
	width: 8px;
	padding: 0px;
}
.QSTWEAKS-media .QSTWEAKS-progress-control {
	spacing: 8px;
	padding: 0px 6px;
}
.QSTWEAKS-media .QSTWEAKS-progress-control .QSTWEAKS-position-label, .QSTWEAKS-media .QSTWEAKS-progress-control .QSTWEAKS-length-label {
	font-size: 0.92em;
}
.QSTWEAKS-media .message-list-section-list {
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

.QSTWEAKS-weather.QSTWEAKS-weather-remove-shadow .weather-button {
	box-shadow: none !important;
}
.QSTWEAKS-weather.QSTWEAKS-weather-compact .weather-button {
	padding: 8px 0px 10px 0px;
}
.QSTWEAKS-weather.QSTWEAKS-weather-compact .weather-button .weather-forecast-time {
	padding-top: 4px;
	padding-bottom: 2px;
}
.QSTWEAKS-weather.QSTWEAKS-weather-compact .weather-button .weather-forecast-icon {
	margin-bottom: 2px;
}
.QSTWEAKS-weather .weather-button {
	margin: 0px;
}
.QSTWEAKS-weather .weather-button .QSTWEAKS-status-label {
	margin: 2px 10px 2px 10px;
}
.QSTWEAKS-weather .QSTWEAKS-header {
	margin-bottom: 6px;
}
.QSTWEAKS-weather .QSTWEAKS-header .QSTWEAKS-header-label {
	font-weight: bold;
	font-size: 0.98em;
	margin-left: 4px;
}
.QSTWEAKS-weather .QSTWEAKS-header .QSTWEAKS-location-label {
	font-weight: bold;
	font-size: 0.98em;
	margin-right: 6px;
	margin-top: 2px;
}

.QSTWEAKS-message-compact .message {
	margin-bottom: 8px;
	padding: 5px 6px;
}
.QSTWEAKS-message-compact .message.media-message {
	padding: 3px 6px 8px 6px !important;
}
.QSTWEAKS-message-compact .message.media-message .message-media-control {
	/* control button sizing */
	padding-left: 5px;
	padding-right: 5px;
}
.QSTWEAKS-message-compact .message .message-box {
	padding-top: 1px;
}
.QSTWEAKS-message-compact .message .message-box .message-content {
	spacing: 3px;
	font-size: 0.89em;
}
.QSTWEAKS-message-compact .message .message-header {
	spacing: 3px;
}
.QSTWEAKS-message-compact .message .message-header .message-expand-button,
.QSTWEAKS-message-compact .message .message-header .message-close-button {
	padding: 2px !important;
}
.QSTWEAKS-message-compact .message .message-header .message-header-content {
	padding-left: 6px;
}
.QSTWEAKS-message-compact .message .notification-button {
	font-size: 0.9em;
	padding: 5px;
	margin-top: 0px;
}

.QSTWEAKS-message-remove-shadow .message {
	box-shadow: none !important;
}

/* volume mixer label */
.QSTWEAKS-volume-mixer {
	spacing: 6px;
}
.QSTWEAKS-volume-mixer .QSTWEAKS-item {
	spacing: 4px;
}
.QSTWEAKS-volume-mixer .QSTWEAKS-item .QSTWEAKS-label {
	padding-left: 6px;
	font-size: 0.92em;
	text-overflow: ellipsis;
	width: 0px;
}
.QSTWEAKS-volume-mixer .QSTWEAKS-has-scrollbar {
	padding: 0px 5px 0px 0px;
}

.quick-toggle-menu-container .QSTWEAKS-volume-mixer .QSTWEAKS-item .QSTWEAKS-label {
	font-size: 1.02em;
}

.datemenu-popover.QSTWEAKS-hide-left-box .datemenu-calendar-column {
	margin: 0px;
}
.datemenu-popover.QSTWEAKS-hide-right-box .message-list {
	margin: 0px;
	border: none;
	min-height: 340px;
}

#panel .QSTWEAKS-privacy-indicator-use-accent .privacy-indicator {
	color: -st-accent-color;
}
#panel .QSTWEAKS-privacy-indicator-use-monochrome .privacy-indicator {
	color: -st-accent-fg-color;
}
#panel .QSTWEAKS-screen-sharing-indicator-use-accent,
#panel .QSTWEAKS-screen-recording-indicator-use-accent {
	box-shadow: inset 0 0 0 100px -st-accent-color;
}
#panel .QSTWEAKS-screen-sharing-indicator-use-accent:hover, #panel .QSTWEAKS-screen-sharing-indicator-use-accent:focus,
#panel .QSTWEAKS-screen-recording-indicator-use-accent:hover,
#panel .QSTWEAKS-screen-recording-indicator-use-accent:focus {
	box-shadow: inset 0 0 0 100px st-mix(-st-accent-color, -st-accent-fg-color, 75%);
}
#panel .QSTWEAKS-screen-sharing-indicator-use-accent:active,
#panel .QSTWEAKS-screen-recording-indicator-use-accent:active {
	box-shadow: inset 0 0 0 100px st-mix(-st-accent-color, -st-accent-fg-color, 60%);
}

.QSTWEAKS-debug-show-layout * {
	outline: 1px solid red;
}

/* input output labels */
.QSTWEAKS-input-output-label {
	width: auto;
}
